body{
	background-image: url("../img/background.png");
	color: white;
}
h1{
	font-size: 80px;
	text-align: center;
}
img{
margin-left:100px;
}
.full_info{
	position:relative;
	left:500px;
	bottom:300px;
	font-size:20px
}
p{
font-size:30px
}
h3{
font-size:25px
}

#name{
position:relative;
bottom:200px;
left:15px;
}

#courses{
position:relative;
bottom:215px;
left:15px;
}
.academic{
position:relative;
bottom:215px;
left:15px;
}
.academic p{
position:relative;
bottom:18px
}
.address{
position:relative;
bottom:230px;
left:15px;
}
.address p{
position:relative;
bottom:18px
}


.full_info{position:relative;
left:500px;
bottom:250px;}

.academic p{font-size:25px}