<html>
<head>
<title>chandrakant profile</title>
<style>
body{ 
      background-image:url(../static/img/f1.jpg);
	  background-repeat:no-repeat;
     }
h1 { text-align:center;
     color:#FFFF33;
     }
#l2 {color: #FF0066;
      }
#t1 {background-color:red;
        }
#d1{ color:#CC0033;}

#t2{
        
	     background-color:;}
#t3{
	     background-color:;}
#t4{  background-color:#CC66CC;

      cellpadding:5px;
	  cellspacing:'2';
     }
#t5{
        border: ;
	     background-color:#66FF66;}

	 
a:link{  text-decoration:none;
        color:blue;}
a:visited{
         color:yellow;
         }
a:hover{   background-color:black;
         color:white;
		 text-decoration:underline;
		 font-weight:bold;
		 }
#a1{ position:absolute;
    top: 2700;
	left:60px;
   }
#a2{ position:absolute;
    top: 2700;
	left:600px;
   }
#a3{ position:absolute;
    top: 2700;
	left:1100px;
   }
</style>
</head>
<body>
<table width="100%" id="t1">
     <tr>
     <th>
	    <h2><a href="/">home</a><h2>
	 </th>
	 <th>
	    <h2><a href="#ckhtml1">Ckant</a><h2>
	 </th>
	 <th>
	    <h2><a href="#pi">Personal Details</a><h2>
	 </th>
	 <th>
	    <h2><a href="#acd">Academic</a><h2>
	 </th>
	 <th>
	    <h2><a href="#add">Address</a><h2>
	 </th>
	 
</table>
<a name="ckhtml1"></a><h1>WELCOME</h1>
<hr />
<br/>
<br/>
<table id="t2" width="100%" cellpadding='10' cellspacing='4'>
     <tr>
     <th>
	    <img src="../static/img/p1.jpg" />
	 </th>
	 <td>
	     <ul>
	         <li><h2> NAME      : CHANDRAKANT</h2></li>
		     <li><h2> ROLL NO   : 14075017 </h2></li>
		     <li><h2> SR. NO.   : BA-1 022</h2></li>
		     <li><h2> BRANCH    : COMPUTER SCIENCE &ENGINEERING </h2></li>
			 <li><h2> INSTITUTE : INDIAN INSTITUTE OF TECHNOLOGY(BHU) </h2></li>
		</ul>
	  </td>
	 </tr>
	 
</table>
<hr />
<a name="pi"></a><h1>ABOUT ME</h1>

<table id="t3" width="100%" cellpadding='10' cellspacing='4'>
     <tr>
	 <td>
	     <ul>
	         <li><h2> NAME      : CHANDRAKANT</h2></li>
		     <li><h2> FATHER'S NAME: CHUNNILAL </h2></li>
		     <li><h2> MOTHER'S NAME: GIRAJA</h2></li>
		     <li><h2> GENDER: MALE			 </h2></li>
			 <li><h2> DATE OF BIRTH: 09/04/1996 </h2></li>
			 <li><h2> OCCUPATION: STUDENT</h2></li>
			 <li><h2>INSTITUTE: IIT(BHU) VARANASI </h2></li>
			 <li><h2> BRANCH:COMPUTER SCIENCE &ENGINEERING</h2></li>
			 <li><h2>YEAR -B.TECH PART-I </h2></li>
		     <li><h2> EMAIL ID: chandrakant.cse14@gmail.com </h2></li>
		     <li><h2> MOBILE NO.:9838269336 </h2></li>
		     <li><h2> CURRENT CITY: VARANASI		 </h2></li>
			 <li><h2>HOME TOWN : BILASPUR </h2></li>
		</ul>
	  </td>
	  <th>
	    <img src="../static/img/p2.jpg" />
	 </th>
	 </tr>
	 
</table>
<hr />
<a name="add"></a><h1>ADDRESS</h1>

<table  width="100%" id="t5" >
     <tr>
	     <td>
        
		<h2 id="l2">PERMANENT ADDRESS</h2>
	     <ul>
	         <li><h2>VILLAGE :GHANAPARA</h2></li>
		     <li><h2>POST    : GHUTAKU</h2></li>
		     <li><h2>BLOCK   : TAKHATPUR</h2></li>
		     <li><h2>DISTRICT: BILASPUR  </h2></li>
			 <li><h2> STATE  : CHHATISAGARH </h2></li>
			 <li><h2> PIN :495012</h2></li>
			 <li><h2> COUNTRY :INDIA </h2></li>
		</ul>
		</td>
		<td>
		<h2 id="l2">CURRENT ADDRESS</h2>
		<ul>
	         <li><h2>ROOM NO: 112</h2></li>
		     <li><h2>VISHWESHWARAIYA HOSTEL</h2></li>
		     <li><h2>INSTITUTE: IIT(BHU)</h2></li>
		     <li><h2>CITY: VARANASI </h2></li>
			 <li><h2> STATE  : UTTERPRADESH </h2></li>
			 <li><h2> PIN :221005</h2></li>
			 <li><h2> COUNTRY :INDIA </h2></li>
		</td>
		</tr>
</table> 
<hr />
<a name="acd"></a><h1> ACADEMIC INFORMATION </h1>

<br />
<table width="90%" border='1' id="t4" cellpadding='3' cellspacing='2'>
    <tr>
     <th colspan='6'>
	 <h3>SCHOOL EXAMINATION DETAILS</h3>
	 
	 </th>
	 </tr>
     <tr>
     <td>
	    <h3>S.NO.<h3>
	 </td>
	 <th>
	    <h3>EXAMINATION<h3>
	 </td>
	  <td>
	    <h3>INSTITUTE <h3>
	 </td>
	 <td>
	    <h3>BOARD<h3>
	 </td>
	 <td>
	    <h3>YEAR<h3>
	 </td>
	  <td>
	    <h3>PECENTAGE/GRADE POINT<h3>
	 </td>
	 </tr>
	  <tr>
     <td>
	    <h3>1<h3>
	 </td>
	 <th>
	    <h3>DISTRIC PRIMARY BORAD EXAMINATION<h3>
	 </td>
	  <td>
	    <h3>SARASWATI SHISHU MANDIR BHANWARPUR<h3>
	 </td>
	 <td>
	    <h3>CGBSE<h3>
	 </td>
	 <td>
	    <h3>2006<h3>
	 </td>
	  <td>
	    <h3>90<h3>
	 </td>
	 </tr>
	  
	  <tr>
     <td>
	    <h3>2<h3>
	 </td>
	 <th>
	    <h3>ALL INDIA SCHOOL CERTIFICATE EXAMINATION<h3>
	 </td>
	  <td>
	    <h3>JAWAHAR NAVODAYA VIDYALAYA MAHASAMUND<h3>
	 </td>
	 <td>
	    <h3>CBSE<h3>
	 </td>
	 <td>
	    <h3>2012<h3>
	 </td>
	  <td>
	    <h3>95<h3>
	 </td>
	 </tr>
	  </tr>
	  <tr>
     <td>
	    <h3>3<h3>
	 </td>
	 <th>
	    <h3>ALL INDIA SENIOR SECONDRY EXAMINATION<h3>
	 </td>
	  <td>
	    <h3>JAWAHAR NAVODAYA VIDYALAYA BANGALORE(URBAN)<h3>
	 </td>
	 <td>
	    <h3>CBSE<h3>
	 </td>
	 <td>
	    <h3>2014<h3>
	 </td>
	  <td>
	    <h3>92.6<h3>
	 </td>
	 
	 <tr>
	 <td>
	    <h3>3<h3>
	 </td>
	 <th>
	    <h3>B.TECH PART-I<h3>
	 </td>
	  <td>
	    <h3>INDIAN INSTITUTE OF TECHNOLOGY(BHU)<h3>
	 </td>
	 <td>
	    <h3>IIT(BHU)<h3>
	 </td>

	  <td>
	    <h3>2014<h3>
		</td>
		<td>
	    <h3>8.13<h3>
		</td>
	 </tr>
	  
	 
   </table>
<h1 id="d1"> Currently studying at IIT(BHU) Computer Science and Engineering Depatment</h1>
<hr />
<h1 id="d1">Courses in second semester</h1>
<ul id="u1">
     
	  <li> <h3>IT WORKSHOP-1</h3></li>
	   <li><h3>ENGINEERING MATHEMATICS-II</h3></li>
	    <li><h3>ENGINEERING MECHANICS</h3></li>
		<li><h3>BASICS OF ELECTRICAL ENGINEERNIG</h3></li>
		<li><h3>MANUFACTURING PRACTICE-II</h3></li>
		<li><h3>ENGINEERING DRAWING</h3></li>
		<li><h3>DEVELOPMENT AND SOCIETY</h3></li>
</ul>
<hr />
<br />
	<h3><a id="a1" href="http://google.com">Google</</a> <a id="a2" href="http://facebook.com">facebook</a> <a id="a3" href="http://gmail.com">Gmail</a></h3>
	
	    

</body>
</html>