<html>
<head>
<title>Student Database</title>
<link rel="stylesheet" href="css/reset.css">
      <link rel="stylesheet" href="../static/css/960_12_col.css">
      <link rel="stylesheet" href="../static/css/text.css">
      
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/personal.css">
</head>
<body>
<div class="wrap container_12 ">

  <h1 id="heading"><strong>STUDENT DATABASE</strong></h1>
<section class="one grid_4" >
<a href="deepak"><img src="../static/img/deep.png" height="400px" width="300px" id="im1"></a>
<h2 class="names">DEEPAK YADAV</h2>
</section>

<section class="two grid_4" >
<a href="amrinder"><img src="../static/img/deep.png" height="400px" width="300px" id="im1"></a>
<h2 class="names" id="amri">AMRINDER</h2>
</section>
<section class="three grid_4" >
<a href="chandrakant"><img src="../static/img/deep.png" height="400px" width="300px" id="im1"></a>
<h2 class="names">CHANDRAKANT</h2>
</section>
<div>

</body>
</head>
</html>